@charset "UTF-8";
@media (max-width: 780px) {
  body {
    min-width: auto;
  }
  header .header-right {
    display: none;
  }
  .about-main {
    display: none;
  }
  .slider img {
    width: 600px !important;
  }
}

@media (max-width: 1240px) {
  body {
    min-width: auto;
  }
  header .header-right {
    display: none;
  }
  .about-main {
    display: none;
  }
}

@media (min-width: 1240px) {
  .header-nav > ul li {
    display: none;
  }
  .about-main-mini {
    display: none;
  }
  .menu-trigger {
    display: none;
  }
}

@media (max-width: 1240px) {
  .slick-prev:before, .slick-next:before {
    font-size: 80px;
    /*少し大きくする*/
  }
  .service-1,
  .service-2,
  .service-3 {
    display: block;
    width: 80%;
    height: 100%;
    margin: 50px auto;
  }
  .service-1 .service1-left,
  .service-1 .service2-left,
  .service-1 .service3-left,
  .service-2 .service1-left,
  .service-2 .service2-left,
  .service-2 .service3-left,
  .service-3 .service1-left,
  .service-3 .service2-left,
  .service-3 .service3-left {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  .service-1 .service1-right,
  .service-1 .service2-right,
  .service-1 .service3-right,
  .service-2 .service1-right,
  .service-2 .service2-right,
  .service-2 .service3-right,
  .service-3 .service1-right,
  .service-3 .service2-right,
  .service-3 .service3-right {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .service-1 .service1-right h3,
  .service-1 .service2-right h3,
  .service-1 .service3-right h3,
  .service-2 .service1-right h3,
  .service-2 .service2-right h3,
  .service-2 .service3-right h3,
  .service-3 .service1-right h3,
  .service-3 .service2-right h3,
  .service-3 .service3-right h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }
  .service-1 .service1-right p,
  .service-1 .service2-right p,
  .service-1 .service3-right p,
  .service-2 .service1-right p,
  .service-2 .service2-right p,
  .service-2 .service3-right p,
  .service-3 .service1-right p,
  .service-3 .service2-right p,
  .service-3 .service3-right p {
    display: block;
    margin-bottom: 50px;
    font-size: 18px;
  }
  .news-two > .pic-one,
  .news-two .pic,
  .news-two .text {
    display: none;
  }
  .news-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*justify-content: space-between;

		/*>.pic{
			display:inline-block;
			width:100%;
		}

		>.text{
			display:inline-block;
			width:100px;
			>a,p,h6{
				display:inline-block;
				width:100px;
			}
		}*/
  }
  .map-wrapper {
    height: 900px;
    margin: 10px auto;
  }
  .map-wrapper .textbox {
    margin: 0 auto;
  }
  .map-wrapper .textbox > ul > li {
    font-size: 20px;
  }
  .map-wrapper .mapbox .textbox .text-left .hoge {
    margin-top: 3.1em;
  }
  .map-wrapper .mapbox {
    font-size: 15px;
  }
  footer {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=media.css.map */
